html, body, .resp {
	/*width: 800px; height: 700px; margin: 30px auto;*/
	width: 100%;
	height: 100%;
}

#mapContainer {
	min-width: 300px;
	min-height: 300px;
	height: 100%;
	width: 100%;
	background: #fff;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	padding-bottom: 50px;
}

#map {
	height: 100%;
	width: 100%;
}

#legend {
	background-color: #fff;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-moz-box-shadow:    0 1px 5px rgba(0,0,0,0.65);
	box-shadow:         0 1px 5px rgba(0,0,0,0.65);

	display: block;
	color: black;

	width: 246px;
	height: 20px;

	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	font-family: Arial;
	font-size: 9px;
}

#results {
	background-color: #fff;

	border: 1px solid #cdcdcd;
	border-bottom: 0px;

	display: block;
	color: black;

	/*width: 300px;*/

	position: absolute;
	bottom: 40px;
	left: 35px;

	z-index: 3;

	font-family: Arial;
	font-size: 13px;
}

#results a, #results a:visited {
	color: #646464;
	text-decoration: none;
}

/*#results {
	background-color: #fff;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-moz-box-shadow:    0 1px 5px rgba(0,0,0,0.65);
	box-shadow:         0 1px 5px rgba(0,0,0,0.65);

	display: block;
	color: black;

	position: absolute;
	bottom: 0;
	left: 35px;

	z-index: 1;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	font-family: Arial;
	font-size: 13px;
}*/

#results ul, #results li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#results ul {
	padding: 1px 0;
}

#results li {
	padding: 7px 6px;
	/*border-bottom: 1px solid #eee;*/
}

#legend span {
	width: 80px;
	height: 13px;
	float: left;
	margin-top: 3px;
	display: block;
	padding-top: 1px;
}

#legend span.weinig {
	color: #224499;
	/* color: #218fac; */
	/* background: #ccecf5; */
	background: #a3bdff;
	margin-left: 3px;
	padding-left: 5px;
	width: 75px;
}

#legend span.gemiddeld {
	background: #6087e7; /* #98d9ea; */
}

#legend span.veel {
	background: #224499; /* #5bc3de; */
	color: #ebf1ff;
	/* color: #126e86; */
	padding-right: 5px;
	text-align: right;
	width: 75px;
}

#searchContainer {
	margin: 10px 15px;
}

#search {
	padding: 0 20px;
	overflow: hidden;
	position: relative;
}

#search input.keyword {
	width: 100%;
	border: 1px solid #b1b1b1;
	border-bottom: 1px solid #dedede;
	color: #777777;
	font-size: 14px;
	height: 28px;
	padding: 0 8px;
	float: left;

	outline: none;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#search input.button {
	background: #224499 url('search-icon.png') no-repeat center center;
/*	background: #16bae7 url('search-icon.png') no-repeat center center;*/
	border: 0;
	padding: 0;
	margin: 0;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;

	position: absolute;
	right: 19px;
	top: 0;

	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
